.container__home {
  width: 90%;
  margin-left: 10%;
}

.home__img {
  height: 90vh;
}

.home__img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .container__home {
    width: 95%;
    margin: 1% 2.5%;
  }
}
